<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:name=".UniversityApplication"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/Theme.PetCareAssessment"
        tools:ignore="MissingClass">

        <activity
            android:name="com.example.UniversityApp.ui.details.DetailsActivity"
            android:exported="false" />
        <activity
            android:name="com.example.UniversityApp.ui.dashboard.UniversityActivity"
            android:exported="false"
            tools:ignore="MissingClass" />
        <activity
            android:name="com.example.UniversityApp.ui.login.LoginActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>